modules = ["nodejs-20", "web"]
run = "hugo server"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "hugo server"]

[[ports]]
localPort = 1313
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 45217
externalPort = 3000
