modules = ["nodejs-20", "web"]
run = "hugo server"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "hugo server --bind=0.0.0.0 --baseURL=https://${REPL_SLUG}.${REPL_OWNER}.repl.co"]
build = ["sh", "-c", "hugo --gc --minify"]

[[ports]]
localPort = 1313
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 41583
externalPort = 3001

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 1801819

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "hugo server --bind=0.0.0.0 --baseURL=https://${REPL_SLUG}.${REPL_OWNER}.repl.co"
